@CHARSET "UTF-8";

.cr6aa7cc {color:#856046; font-size:12px;}
.lPad10 {padding-left:10px;}
.txtInp {height:18px; padding:5px 10px; font-size:12px; border:1px solid #bbb; color:#666; vertical-align:middle; font-family:verdana, tahoma, dotum, dotumche, '돋움', '돋움체', sans-serif;}
.crRed {color:red;}
#signup {position:absolute; top:15%; left:27%; width:70%;}
input{margin-left:10px;}
span.radiospan{margin-left:10px;}
select{margin-left:10px;}